@media (max-width : 500px){
    .main-container{
        background-color : white;
        width: 95%;
    } 
    #tasks{
        display: none;
    }
}

@media (max-width : 768px){
    #tasks{
        display: none;
    }
}