*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

body {
    background-color: rgb(231, 50, 50);
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* STYLING MAIN CONTAINER */
.main-container{
    background-color : white;
    display: inline-block;
    position: absolute;
    top: 50%;
    left : 50%;
    width: 350px;
    margin-top : -175px;
    margin-left : -175px;
}

/* STYLING MAIN CONTAINER HEADING */
.main-container h2 {margin: 0.8rem;}

/*STYLE MAIN CONTAINER INPUT DIV*/
.main-container .inside-main-container .input-div input {width : 80%;}

/*STYLE MAIN CONTAINER INPUT DIV BUTTON*/
.main-container .inside-main-container .input-div a{
    text-decoration : none;
    color : white;
    background-color : rgb(238, 49, 80);
    text-align: center;
    width : 14%;
    border-radius: 10%;
}
.main-container .inside-main-container .input-div{
    display: flex;
    justify-content: space-evenly;
}
.main-container .inside-main-container .input-div input,a {padding : 0.35rem;}

/*STYLE LIST ITEMS DIV*/
.main-container .inside-main-container .list-items-div ul {list-style: none;}
.main-container .inside-main-container .list-items-div, 
.main-container .inside-main-container .input-div, .main-container .last-section-div {padding : 0.5rem;}

.main-container .inside-main-container .list-items-div{
    height: 215px;
    overflow-y: auto;
}

/*STYLE EACH LIST ITEM BLOCK IN THE UNORDERED LIST*/
.main-container .inside-main-container .list-items-div .list-item{
    margin : 0.45rem;
    padding : 0.6rem;
    background-color: #c3c3c367;
    display: flex;
    justify-content: space-between;
}

.main-container .inside-main-container .list-items-div .list-item li{
    list-style-type: none;
    flex : 1.8;
}

/*WORK WITH ICONS*/
.main-container .inside-main-container .list-items-div .list-item .hide{
    color : crimson;
    margin-left : 0.8rem;
}

.main-container .inside-main-container .list-items-div .list-item .edit{
    color : rgb(241, 28, 71);
    font-size : 1.2rem;
}

#check{
     font-size : 0.65rem;
     /* background-color : rgb(139, 202, 43); */
     background-color : rgb(238, 49, 80);
     color : white;
     padding : 0.3rem;
     border-radius : 10%;
     border-radius : 50%;
     margin-left : 0.2rem;
     opacity : 0;
}

#check:hover{
    opacity : 1;
}

.main-container .inside-main-container .list-items-div .list-item .edit:hover,
.main-container .inside-main-container .list-items-div .list-item .hide:hover,
.main-container .inside-main-container .list-items-div .list-item li:hover {cursor : pointer;}


/*STYLE LAST SECTION DIV*/
.main-container .last-section-div{
    display : flex;
    justify-content: space-between;
    margin : 0rem 0.6rem;
    margin-bottom : 0.7rem;
    align-items: center;
}

/*STYLE LAST SECTION BUTTON*/
.main-container .last-section-div a{
    text-decoration : none;
    color : white;
    padding : 0.3rem;
    background-color : rgb(238, 49, 80);
}

/*STYLE LAST SECTION PARAGRAPH*/
.main-container .last-section-div p{display : inline-block;}





