*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --body-background-color : rgb(235, 12, 235);
    --primaryColor : #fff;
}

body {background-color: var(--body-background-color);}

.main-container{
    background-color : var(--primaryColor);
    display: inline-block;
    position: absolute;
    top: 50%;
    left : 50%;
    height : 350px;
    width: 350px;
    margin-top : -175px;
    margin-left : -175px;
}

.main-container h2 {margin: 1rem 0rem;}

.main-container .inside-main-container {background-color: yellow;}

.main-container .inside-main-container .input-div input {width : 80%;}

.main-container .inside-main-container .input-div a{
    text-decoration : none;
    color : white;
    background-color : pink;
    text-align: center;
    width : 14%;
    border-radius: 10%;
}

.main-container .inside-main-container .input-div{
    display: flex;
    justify-content: space-evenly;
    padding : 0.5rem;
}

.main-container .inside-main-container .input-div input,a {padding : 0.35rem;}

.main-container .inside-main-container ul {list-style: none;}